<navbar-dir></navbar-dir>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">TODO App</h1>
    <div class="form-group">
      <label for="new_todo">ToDo</label>
      <input type="text" class="form-control" id="new_todo" placeholder="ToDo" ng-model="new_todo" ng-keypress="check_new_todo($event)">
    </div>
    <div ng-repeat="todo in todos" class="row">
      <div class="col-sm-1">
        <input type="checkbox" ng-model="todo.done" ng-change="updateTodo(todo.id, todo)">
      </div>
      <div class="col-sm-9">
        <p class="done-{{todo.done}}" ng-if="edits.indexOf(todo.id) < 0" ng-click="addToEdits(todo)">{{todo.name}}</p>
        <input ng-if="edits.indexOf(todo.id) >= 0" type="text" class="form-control" placeholder="ToDo" ng-keypress="update_todo_name($event, todo)" ng-model="todo.name">
      </div>
      <div class="col-sm-2">
        <i class="fa fa-times" aria-hidden="true" ng-click="delete_todo(todo.id)"></i>
      </div>
    </div>
  </div>
</div>